<h1>Main Menu</h1>
<h5>Welcome, {{this.share.username}}. <button class="btn btn-sm btn-danger"
        onclick="if (confirm('Are you sure you want to log out?')==true) document.location='/'">Sign Out</button></h5>
        <h2>Future Games</h2>
        <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Detail</th>
            <th>Date</th>
            <th>Venue</th>
            <th><button class="btn btn-success" routerLink="/add">Add</button> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of gameListF">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.detail}}</td>
            <td>{{dataItem.date.substring(0,10)}} {{dataItem.time}}</td>
            <td>{{dataItem.venue}}</td>
            <td><button (click)="delete(dataItem.id,false)" class="btn btn-danger">Drop</button></td>

        </tr>

    </tbody>
</table>
<h2>Other Games</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Date</th>
            <th>Venue</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of gameListP">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.detail}}</td>
            <td>{{dataItem.date.substring(0,10)}} {{dataItem.time}}</td>
            <td>{{dataItem.venue}}</td>
            <td><button (click)="pay(dataItem.id)" class="btn btn-primary">Finish</button><button (click)="delete(dataItem.id,true)" class="btn btn-danger">Delete</button></td>

        </tr>

    </tbody>
    
</table>
<h3>Paid Games <button routerLink="/spending" class="btn btn-dark">More Info...</button> </h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Venue</th>
            <th>Date (Game)</th>
            <th>Person by</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of gameListD">
            <td>{{dataItem.detail}}</td>
            <td>{{dataItem.venue}}</td>
            <td>{{dataItem.date}}</td>
            <td>{{dataItem.name}}</td>
            <td>${{dataItem.amount.toFixed(2)}}</td>
            <td></td>

        </tr>

    </tbody>
    
</table>
