<h1>Main Menu</h1>
<h5>Welcome, {{this.share.username}}. <button class="btn btn-sm btn-danger"
        onclick="if (confirm('Are you sure you want to log out?')==true) document.location='/'">Sign Out</button></h5>
        <h2>Future Games</h2>
        <table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Detail</th>
            <th>Date</th>
            <th>Venue</th>
            <th><button class="btn btn-success" routerLink="/add">Add</button> </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of gameListF">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.detail}}</td>
            <td>{{dataItem.date}} {{dataItem.time}}</td>
            <td>{{dataItem.venue}}</td>
            <td><button (click)="delete(dataItem.id)" class="btn btn-danger">Drop</button></td>

        </tr>

    </tbody>
</table>
<h2>Other Games</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Date</th>
            <th>Venue</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of gameListP">
            <td>{{dataItem.id}}</td>
            <td>{{dataItem.detail}}</td>
            <td>{{dataItem.date}} {{dataItem.time}}</td>
            <td>{{dataItem.venue}}</td>
            <td><button (click)="pay(dataItem.id)" class="btn btn-primary">Finish</button></td>

        </tr>

    </tbody>
</table>